{% extends "layout.html" %} {% block title %} Data Table {% endblock %} {% block main %}
<h1>Coronavirus (COVID-19) Dashboard</h1>
<h2>Situation by Country</h2>
<br>
<div>
    <input type="text" id="myInput" onkeyup="function()" placeholder="Search for Country">
</div>
<table id="myTable">
    <thead>
        <tr>
            <th>Country</th>
            <th>Total Cases</th>
            <th>Today Cases</th>
            <th>Total Deaths</th>
            <th>Today Deaths</th>
            <th>Total Recovered</th>
            <th>Active</th>
            <th>Critical</th>
            <th>Cases Per One Million</th>
            <th>Deaths Per One Million</th>
            <th>Total Tests</th>
            <!---  <th>Tests Per One Million</th> --->
        </tr>
    </thead>

    <tbody>
        {% for countries_info in countries_info %}
        <tr>
            <td>{{countries_info["country"]}}</td>
            <td>{{countries_info["cases"]}}</td>
            <td>{{countries_info["todayCases"]}}</td>
            <td>{{countries_info["deaths"]}}</td>
            <td>{{countries_info["todayDeaths"]}}</td>
            <td>{{countries_info["recovered"]}}</td>
            <td>{{countries_info["active"]}}</td>
            <td>{{countries_info["critical"]}}</td>
            <td>{{countries_info["casesPerOneMillion"]}}</td>
            <td>{{countries_info["deathsPerOneMillion"]}}</td>
            <td>{{countries_info["totalTests"]}}</td>
            <!---  <td>{{countries_info["testsPerOneMillion"]}}</td> ---->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}