{% extends "layout.html" %} {% block title %} Feedback {% endblock %} {% block main %}
<div>
    <form action="/feedback" method="post">
        <div>
            <h2>Feedback</h2>
            <br>

            <div>
                <h3>How do you rate our website</h3>
                <br>
                <label class="radio-inline"><input type="radio" name="option" value="Excellent">Excellent</label>
                <label class="radio-inline"><input type="radio" name="option" value="Very Good">Very good</label>
                <label class="radio-inline"><input type="radio" name="option" value="Good">Good</label>
                <label class="radio-inline"><input type="radio" name="option" value="Fair">Fair</label>
                <label class="radio-inline"><input type="radio" name="option" value="Poor">Poor</label>

            </div>
        </div>

        <br>

        <form>
            <div>
                <h3>Your Message*</h3>
                <textarea id="message" required="" placeholder="Write your message here" rows="5" cols="50" name="feedback"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" style="width: 20%; position: center;" type="submit" {% if session.user_id %} "" {% else %} disabled {% endif %}>Post</button>
            </div>
        </form>
    </form>
    <br>
    <div class="message">
        {% if session.user_id %}
        <p></p>
        {% else %}
        <p class="message">Please login before submitting feedback<b><a class="message" href="/login">Log in</a></b></p>
        {% endif %}

    </div>

    <div class="feedback_total">
        <table id="InfoTable" class="center">
            {% for feedback in feedback_all %}
                <tr>
                    <th>{{feedback.username}}</th>
                    <td>rated {{feedback.rating}}</td>
                    <td>{{feedback.feedback}}</td>
                    <td>{{feedback.date_time}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}