{% extends "layout.html" %}

{% block title %}
    Feedback
{% endblock %}

{% block main %}
    <div>
        <form action="/feedback" method="post">
            <div>
                <h1>Feedback</h1>
                <hr>
                <hr>
                <div>
                    <h3>How do you rate our website</h3>
                    <hr>

                    <label class="radio-inline"><input type="radio" name="level">Excellent</label>
                    <label class="radio-inline"><input type="radio" name="level">Very good</label>
                    <label class="radio-inline"><input type="radio" name="level">Good</label>
                    <label class="radio-inline"><input type="radio" name="level">Fair</label>
                    <label class="radio-inline"><input type="radio" name="level">Poor</label>
                </div>
                <hr>

                <form>
                    <div>
                        <h3>Your Message*</h3>
                            <textarea id="message" required="" placeholder="Write your message here" rows="10" cols="50"></textarea></label>
                    </div>
                    <div>
                        <button class="btn btn-primary" style="width: 20%; position: center;" type="submit">Post</button>
                    </div>
                </form>



        <div class="feedback_total">
            {% for feedback in feedback_all %}
            <span>{{feedback.username}} at {{feedback.date_time}}</span>
            <hr>
            <h2>{{feedback.feedback}}</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}