{% extends "layout.html" %} {% block title %} news {% endblock %} {% block main %}
<div class="news">
    <h1 class="news_header">Covid And Vaccination News</h1>
    <hr> {% for covid_news in news_data_covid %}
    <div class="news_data bd-grid">

        <img src="{{covid_news.urlToImage}}" alt="covid image" class="img-news">
        <div class="news_content">
            <h3 class="news_title">{{covid_news.title}}</h3>
            <p class="news_description">{{covid_news.description}}
                <a class="news_link" href={{covid_news.url}}>know more:</a>
            </p>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}